<app-nav>
  <div class="overview-root">
    <mat-card class="overview">
      <div class="map-container"
           mat-card-image>
        <iframe
          class="e2e-iframe-untrusted-src map"
          width="100%"
          frameborder="0"
          [src]="getRoute()"></iframe>
      </div>
      <mat-card-title>
        {{ rideOut.name }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ rideOut.rideoutType }} Out · {{ rideOut.dateStart | date }}
      </mat-card-subtitle>
      <mat-card-content>
        <div class="flex-container">
          <div class="mat-subheading-1"> Type: {{ rideOut.rideoutType }} </div>
          <div class="spacer"></div>
          <div class="mat-subheading-1"> Checkpoints: {{ rideOut.checkpoints.length }} </div>
        </div>
        <div class="flex-container">
          <div class="mat-subheading-1"> Start: {{ rideOut.dateStart | date }} </div>
          <div class="spacer"></div>
          <div class="mat-subheading-1"> End: {{ rideOut.dateEnd | date }} </div>
        </div>
        <div class="flex-container">
          <div class="mat-subheading-1"> Lead Rider: {{ rideOut.leadRider.username }} </div>
          <div class="spacer"></div>
          <div class="mat-subheading-1"> Checkpoints: {{ rideOut.checkpoints.length }} </div>
        </div>
        <div class="flex-container">
          <div class="mat-subheading-1"> Riders: {{ rideOut.riders.length }}/{{ rideOut.maxRiders }} </div>
          <div class="spacer"></div>
          <button
            *ngIf="!userHasJoined"
            mat-flat-button
            color="primary"
            (click)="openDialog()">
            Join
          </button>
          <button
            *ngIf="userHasJoined"
            mat-flat-button
            color="primary"
            (click)="leaveRideOut()">
            Leave
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-nav>
