.dashboard {
  text-align: center;
  padding: 10px;
}

.dashboard-card {
  text-align: start;
  display: block;
  height: 320px;
  width: 640px;
  margin: 20px auto;
  object-fit: contain;
  max-width: fit-content;
}

.card-image {
  height: 210px;
  width: available;
  object-fit: cover;
}

.search > mat-form-field {
  margin: 10px;
}
