<h2 mat-dialog-title>Add Vehicle</h2>
<div mat-dialog-content>
  <p>
    <mat-form-field
      appearance="outline">
      <mat-label>
        <label
          for="v-make">
          Make
        </label>
      </mat-label>
      <input
        id="v-make"
        matInput
        [(ngModel)]="this.vehicle.make"
        required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field
      appearance="outline">
      <mat-label>
        <label
          for="v-model">
          Model
        </label>
      </mat-label>
      <input
        id="v-model"
        matInput
        [(ngModel)]="this.vehicle.model"
        required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field
      appearance="outline">
      <mat-label>
        <label
          for="v-power">
          Power
        </label>
      </mat-label>
      <input
        id="v-power"
        matInput
        [(ngModel)]="this.vehicle.power"
        type="number"
        required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field
      appearance="outline">
      <mat-label>
        <label
          for="v-reg">
          Registration
        </label>
      </mat-label>
      <input
        id="v-reg"
        matInput
        [(ngModel)]="this.vehicle.registration"
        required>
    </mat-form-field>
  </p>
</div>
<div
  mat-dialog-actions
  class="flex-container">
  <button
    mat-raised-button
    color="warn"
    (click)="close()">
    Cancel
  </button>
  <div class="spacer"></div>
  <button
    mat-raised-button
    color="primary"
    (click)="addVehicle()">
    Add
  </button>
</div>
