<h2 mat-dialog-title>Join RideOut</h2>
<div mat-dialog-content>
  <p>
    <mat-form-field>
      <mat-label>Vehicle</mat-label>
      <mat-select
        [(value)]="selectedVehicle">
        <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
          {{ vehicle.registration }} - {{ vehicle.make }} {{ vehicle.model }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</div>
<div
  mat-dialog-actions
  class="flex-container">
  <button
    mat-raised-button
    color="warn"
    (click)="close()">
    Cancel
  </button>
  <div class="spacer"></div>
  <button
    mat-raised-button
    color="primary"
    (click)="joinRideOut()">
    Join
  </button>
</div>
